* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
p {
    font-size: large;
}
a {
    font-size: large;
}
header {
    display: flex;
    width: 100%;
    margin: 20px;
    padding: 20px 35px;
    flex-direction: row;
    justify-content: space-between;
}
header div p {
    margin-right: 50px;
}

.content {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.content h1 {
    text-align: center;
    margin: 25px;
    padding: 10px;
    font-weight: bolder;
}
.content p {
    text-align: center;
}
.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#start {
    /*font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color:blueviolet;*/
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}
#start:hover {
    background-color: #a064f5;
}

